/* Add dark theme styles */
body {
    background: linear-gradient(to bottom, #4d4d4d, #131313); /* Gradient colors */
    color: #FFFFFF;
}

header, main, footer {
    margin: 0 auto;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.totalWebPage-container {
  width: 90%; /* Adjust width as needed */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #2E2E2E;
  padding: 10px; /* Add padding as needed */
  border-radius: 36px; /* Add border radius for rounded corners */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Add box shadow for a floating effect */
}

/* Style the nav bar */
nav {
    background-color: #434343; /* Set background color */
    border-radius: 38px; /* Apply rounded corners */
    padding: 30px; /* Add padding for spacing */
    overflow: hidden; /* Clear floats */
  }
  
  /* Style the container within the nav bar for centering the links */
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Style the unordered lists (ul) within the nav bar */
  nav ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  
  /* Style the list items (li) within the unordered lists */
  nav ul li {
    display: inline; /* Display list items in a row */
  }
  
  /* Style the anchor links (a) within the list items */
  nav ul li a {
    display: inline-block; /* Make anchor links behave like block elements */
    padding: 10px; /* Add padding for spacing */
    padding-left: 18px; /* Add padding for spacing */
    padding-right: 18px; /* Add padding for spacing */
    text-decoration: none; /* Remove underline */
    color: #adadad; /* Set text color */
  }
  
  /* Style the anchor links on hover */
  nav ul li a:hover {
    background-color: #6e6d6d; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
    border-radius: 36px; /* Apply rounded corners on hover */
  }
  
  /* Position the left-aligned unordered list to the left and center it */
  .nav-left {
    position: absolute;
    left: 7%;
    text-align: center;
    z-index: 1;
  }
  
  /* Position the right-aligned unordered list to the right and center it */
  .nav-right {
    position: absolute;
    right: 7%;
    text-align: center;
    z-index: 1;
  }
  
/* Style the text box */
.text-box {
    margin-top: 10px; /* Add margin to create space for the triangle */
    margin-bottom: 10px;
    padding: 10px;
    z-index: 1;
    position: relative; /* Use relative positioning to keep the container at correct z-index */
}

    .text-box .h5 {
        color: rgb(169, 169, 169);
    }

#image-container {
    display: flex;
    overflow-x: hidden; /* Hide horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling */
    white-space: nowrap; /* Prevent images from wrapping */
    transform: translateX();
    border: 10px solid #2E2E2E; /* Change border weight for entire image slider */
    border-radius: 38px;
    position: relative;
    background-color: #2E2E2E; /* Set background color */
}

img {
  border:8px solid #0000;
  max-height: 25vh;
}

.rounded-image {
  cursor: pointer;
  border-radius: 38px;
}

  .rounded-image:hover {
    background-color: #6e6d6d; /* Change background color on hover */
    border-radius: 38px;
  }